# a comment - this is ignored
vim73/**/*   # ignore vim files  
*.a       # no .a files
!lib.a    # but do track lib.a, even though you're ignoring .a files above
/TODO     # only ignore the root TODO file, not subdir/TODO
doc/*.txt # ignore doc/notes.txt, but not doc/server/arch.txt

